@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Black+Ops+One&family=Bricolage+Grotesque&family=IBM+Plex+Mono:ital,wght@0,500;0,600;1,400&family=Inter:wght@300;400;500;600;700&family=Nanum+Myeongjo:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700&family=Rubik+Moonrocks&family=Rubik:wght@300;400;500&family=Skranji:wght@400;700&family=Ysabeau+Office:wght@800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Moonrocks', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(50deg, #833434, #064667);
}

#city {
    position: relative;
    transform-style: preserve-3d;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
    100% {
        transform: rotateX(-30deg) rotateY(0deg);
    }
}

#city::before {
    content: '';
    position: absolute;
    top: -150vh;
    left: 0;
    width: 400vh;
    height: 400vh;
    background: linear-gradient(50deg, #833434, #064667);
    transform: translate(-50%, 250px) rotateX(90deg);
}

.skycrapper {
    position: relative;
    width: 200px;
    height: 600px;
    transform-style: preserve-3d;
}

.skycrapper .top {
    position: absolute;
    top: 0%;
    left: 0;
    width: 200px;
    height: 200px;
    background: var(--clr);
    transform: rotateX(90deg) translateZ(100px);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.65), inset 0 0 5px rgba(0, 0, 0, 0.25);
}

.skycrapper div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.skycrapper div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25);
}

.skycrapper div span:nth-child(1) {
    transform: rotateY(0deg) translate3d(0, 0, 100px);
    background: linear-gradient(to bottom, transparent 50%, var(--clr) 50%), linear-gradient(to right, #999 50%, var(--clr) 50%);
    background-size: 10px 10px;
}

.skycrapper div span:nth-child(2) {
    transform: rotateY(90deg) translate3d(0, 0, 100px);
    background: linear-gradient(to bottom, transparent 50%, var(--clr) 50%), linear-gradient(to bottom, transparent 50%, var(--clr) 50%), linear-gradient(to right, #999 50%, var(--clr) 50%);
    background-size: 10px 10px;
}

.skycrapper div span:nth-child(3) {
    transform: rotateY(180deg) translate3d(0, 0, 100px);
    background: linear-gradient(to bottom, transparent 50%, var(--clr) 50%), linear-gradient(to right, #999 50%, var(--clr) 50%);
    background-size: 10px 10px;
}

.skycrapper div span:nth-child(4) {
    transform: rotateY(270deg) translate3d(0, 0, 100px);
    background: linear-gradient(to right, #999 50%, var(--clr) 50%);
    background-size: 10px 10px;
}

.skycrapper .bottom {
    position: absolute;
    left: -25px;
    width: 250px;
    height: 250px;
    background: var(--clr);
    transform: rotateX(90deg) translateZ(-470px);
    border: 4px solid var(--clr);
}

.skycrapper.two {
    position: absolute;
    top: 0;
    left: -300px;
    transform-origin: bottom;
    transform: translateZ(-100px) scale(1.15);
}

.skycrapper.three {
    position: absolute;
    top: 0;
    left: -300px;
    transform-origin: bottom;
    transform: translateZ(-400px) scaleX(0.75);
}

.skycrapper.four {
    position: absolute;
    top: 0;
    left: -300px;
    transform-origin: bottom;
    transform: translateZ(206px) scaleY(0.85);
}

.skycrapper.five {
    position: absolute;
    top: 0;
    left: -200px;
    transform-origin: bottom;
    transform: translateZ(-655px) scaleY(1.55);
}

.skycrapper.six {
    position: absolute;
    top: 0;
    left: -200px;
    transform-origin: bottom;
    transform: translateZ(500px) scaleY(0.85);
}

.skycrapper.seven {
    position: absolute;
    top: 0;
    left: 200px;
    transform-origin: bottom;
    transform: translateZ(400px) scaleY(0.50);
}

.skycrapper.eight {
    position: absolute;
    top: 0;
    left: 100px;
    transform-origin: bottom;
    transform: translateZ(-400px) scaleY(1.90);
}